:root{
  background-color: rgb(150, 134, 115);
}

.header-div{
  text-align:center;
  width:auto;
  padding:5px;
  display:grid;
}

p {margin :auto; }

.cards-container{
  display:grid;
  max-width: 75px;
  margin:auto;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap:5px 
}

img.card-image{
  border-radius: 5px;
  width: 75px; 
}

.card-name{
  padding:2px 5px;
  text-align: center;
}